.l
  .l-contents
    .l-contents__card
      クレジットカード情報入力
    .l-contents__records
      .l-contents__num
        カード番号
        .l-contents__fill
          0000 0000 0000 0000
      .l-contents__period
        有効期限
        .l-contents__fill
          MM/YY
      .l-contents__cord
        セキュリティーコード
        .l-contents__fill
          Ex.123
    .l-contents__btn
      登録する
  .l-content
    .l-content__log-out
      ログアウト
    

  

