.sendInformationGroup {
  // background-color: red;
  & table {
    // margin-top: 20px;
    // border: 1px solid black;
  
    width: 100%;
    // font-size: 14px;
    
    & tbody {
      // border-collapse: collapse;
      // border-spacing: 0;
      
      tr {
        width: 100%;
        border: 1px solid black;

        // border: 1px solid #dedede;

      }
      th {
        width: 150px;
        padding: 15px;
        text-align: center;
        border: 1px solid black;
        // background-color: #eee;
        // font-weight: 400;
        // padding: 8px;
        // text-align: center;
        // vertical-align: inherit;
        // display: flex;
      }
      td {
        width: auto;
        padding: 15px;
        border: 1px solid black;
      }
    }
  }
}

// .sendName {
//   // background-color: blue;
//   width: 500px;
//   display: flex;
//   align-items: center;
//   margin: 0 auto;
//   padding: 5px;
//   border: 1px solid black;
// }
// .sendAddless__box {
//   // background-color: gray;
//   margin-left: 10px;
//   border: 1px solid black;
// }
// .sendAddress {
//   // background-color: pink;
//   margin-bottom: 5px;
// }

// .sendPhoneNumber {
//   // background-color: yellow;
// }
