.main
  a
  .main__top__visual
    .content
      %h2.content__subtitle
        人生を変えるフリマアプリ
      %p.content__text
        FURIMAはだれでもかんたんに出品・購入できる
        %br
        フリマアプリです
      .content__btn
        =link_to "#", class: "app__btn" do
          = image_tag "app-store.svg", class:"image", alt:"app"
        =link_to "#", class: "google__btn" do
          = image_tag "google-play.svg", class:"image", alt:"app"
  .main__introduction
    %h2.subtitle
      FURIMAが選ばれる3つの理由
  .main__middle__visual
    会員数日本一位
    FURIMAは、フリマアプリで最も人気。
    出品・購入回数も業界最多です！
    ほしかったあの商品に出会えるかもしれません。
  .main__key__features
    FURIMAの特徴

  .pickup__container
    ピックアップカテゴリー
  .pickup__container
    ピックアップブランド
.app__banner
  h
