.main
  a
  .main__top__visual
    b
  .main__introduction
    %h2.subtitle
      FURIMAが選ばれる3つの理由
  .main__middle__visual
    会員数日本一位
    FURIMAは、フリマアプリで最も人気。
    出品・購入回数も業界最多です！
    ほしかったあの商品に出会えるかもしれません。
  .main__key__features
    FURIMAの特徴

  .pickup__container
    ピックアップカテゴリー
  .pickup__container
    ピックアップブランド
.app__banner
  h
